{% extends 'base.html' %}
{% load static %}

{% block title %} Product {% endblock %}

{% block content %}

<style>
    .product_title {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: .2em;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .product_text {
        padding-right: 20px;
    }
    .product_desc {
         font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
</style>

    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{% static 'images/lego.png' %}">
            </div>
        </div>
    </div>
    <div class="col-10 mx-auto col-md-6 my-3">
        <div>
            <h1 class="product_title">Lego</h1>
            <h5 class="text-info font-italic mb-3">$19.99</h5>
            <p class="product_desc">Product description</p>
            <p class="text-justify product_text">
                Мне с детства была предназначена стезя священника. Эта перспектива, как чёрная туча, висела надо мной.
                Получив аттестат зрелости, я оказался на распутье. Должен ли я ослушаться отца, проигнорировать полные
                любви пожелания матери или подчиниться судьбе? Эта мысль угнетала меня, и в будущее я смотрел со
                страхом. Я глубоко уважал своих родителей, поэтому решил заниматься духовными науками. Именно тогда
                разразилась ужасная эпидемия холеры, которая выкосила десятую часть населения. Вопреки не допускавшим
                возражений приказам отца я помчался домой, и болезнь подкосила меня. Позже холера привела к водянке,
                проблемам с лёгкими и прочим заболеваниям. Девять месяцев в постели, почти без движения, казалось,
                истощили все мои жизненные силы, и врачи отказались от меня. Это был мучительный опыт не столько из-за
                физических страданий, сколько из-за моего огромного желания жить. Во время одного из приступов, когда
                все думали, что я умираю, в комнату стремительно вошёл мой отец, чтобы поддержать меня такими словами:
                «Ты поправишься». Как сейчас вижу его мертвенно-бледное лицо, когда он пытался ободрить меня тоном,
                противоречащим его заверениям. «Может быть, — ответил я — мне и удастся поправиться, если ты позволишь
                мне изучать инженерное дело». «Ты поступишь в лучшее учебное заведение в Европе», — ответил он
                торжественно, и я понял, что он это сделает. С моей души спал тяжкий груз. Но утешение могло прийти
                слишком поздно, если бы меня удивительным образом не вылечила одна старая женщина с помощью отвара из
                бобов. В этом не было силы внушения или таинственного воздействия. Средство от
                болезни было в полном смысле целебным, героическим, если не отчаянным, но оно возымело действие.
            </p>
            <p class="text-justify product_text">Out of stock</p>
        </div>
    </div>
{% endblock %}